<!DOCTYPE html>
<head>
    <div style="background-color:aqua; border-style:groove; position:sticky; top:0px">
    <h1>
        <div>
            Byron's Big Bulk Buyer
        </div>
    </h1>
        <div>
            For all your bulk buying!
        </div>
        <br>
        <div style="display:inline">
            <a href="/catalog" style="padding:10px">
                Catalog
            </a>  
            <a href="/catalog/search" style="padding:10px">
                Search
            </a>
            <a href="/about" style="padding:10px">
                About
            </a>
        </div>
    </div>
</head>
<body style="background-color:palegreen; text-align:center;">
    {{{ body }}}
</body>